body {
background-color: rgb(68, 167, 253);
}

h1 {
    color: bisque;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.textos{
    color: white;
    font-size: 3opx;
    text-align: center;

}