*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 5%;
    height: 5%;
}

body {
background-color: rgb(88, 94, 83);
}

#banner{
    width: 100%;
}

h1 {
    color: bisque;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.textos{
    color: white;
    font-size: 50px;
    text-align: center;

}